[ssh]
# ssh login user name
user = yourname

# do not use '$HOME' as an expression. use '~' instead.
config_path = ~/.ssh/config

[hosts]
# make 'step' empty if you don't have to access target server through step server.
step    = step.server.jp

# you can set multiple hosts using comma.
stg     = stg1.server
prod    = prod1.server,prod2.server

[mysql]
# access command to mysql on target server
exec = mysql -u user_ro -ppassword -h standby.db -P 3306 -D customer -e "{}"
